alembic
appdirs
bcrypt
blinker
cffi
click
coverage
et-xmlfile
Flask
Flask-Cache
Flask-Excel
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
Flask-User
Flask-WTF
gevent
greenlet
itsdangerous
jdcal
Jinja2
Mako
MarkupSafe
odfpy
openpyxl
packaging
passlib
py
pycparser
pycryptodome
pyexcel
pyexcel-io
pyexcel-ods
pyexcel-webio
pyexcel-xls
pyexcel-xlsx
pygal
pyparsing
pytest
pytest-cov
pytest-flask
python-editor
six
SQLAlchemy
texttable
Werkzeug
WTForms
xlrd
xlwt
