{% extends "common/page_base.html" %}  {# common/page_base.html extends layout.html #}

{% block content %}
<h1>Home page</h1>

<div class="container">
	<div class="row">
		{% for post in posts%}
			<div class="col-md-4 text-center">
				{% set id = post.id|string %}
				<a href="/chart/{{post.id}}">
					<img class="img-responsive" src="{{ url_for('static', filename='charts/'+id+'.svg') }}" alt="{{post.title}}">
					<h3>{{post.title}}</h3>
					<form action="{{url_for('delete', id=post.id)}}" method=POST>
						<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
						<button class="btn btn-danger btn-xs pull-right">Delete</button>
					</form>
					<small>{{post.data}}</small>
				</a>
			</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
