{% extends "common/page_base.html" %}  {# common/page_base.html extends layout.html #}

{% block content %}
<div class="container">
	<div class="row text-center">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<h1>{{post.title}}</h1>
			<p>{{post.description}}</p>
		</div>
		<div class="col-md-3"></div>
		{% if post.region == 'south-asia' %}
			<object type="image/svg+xml" data="/static/maps/worldHigh.svg" id="map" style="width:100%;">
			  South Asia <!-- fallback image in CSS -->
			</object>
		{% endif %}
		{% if post.region == 'pakistan' %}
			<object type="image/svg+xml" data="/static/maps/pakistanHigh.svg" id="map" style="width:100%;">
			  South Asia <!-- fallback image in CSS -->
			</object>
		{% endif %}
	</div>
</div>
{% for initials, charts in data.items()%}
<div id="{{initials}}modal" tabindex="-1" role="dialog" class="modal fade map-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title">{{regions_dict[initials]}}</h2>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
        	{% for chart in charts %}
			<div class="col-md-6">
				{{chart_func(chart)|safe}}
			</div>
			{% endfor %}
		</div>&nbsp;
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<h3>Embed Wordpress</h3>
<pre>[map id="id"]</pre>
<h2>Embed Code</h2>
<pre>{{embed}}</pre>

<script>
	window.onload=function() {
		// Get the Object by ID
		var a = document.getElementById("map");
		// Get the SVG document inside the Object tag
		var svgDoc = a.contentDocument;
		// Get one of the SVG items by ID;
		// var AF = svgDoc.getElementById("AF");
		// var PK = svgDoc.getElementById("PK");
		// var IN = svgDoc.getElementById("IN");
		var land = svgDoc.getElementsByClassName("land");
		// Set the colour to something else
		// svgItem.setAttribute("fill", "#bada55");
		$(land).on('click', function(){
			 var this_id = $(this).attr('id');
			 var modalname = "#"+this_id+"modal";
		     $(modalname).modal();
		});
	};
</script>
{% endblock %}