{% extends "common/page_base.html" %}  {# common/page_base.html extends layout.html #}

{% block content %}
<div class="container">
	<div class="row">
		<h1>Maps</h1>
		{% for map in maps %}
			<h2><a href="{{ url_for('map', id=map.id) }}">{{map.title}}</a></h2>
			<form action="{{url_for('delete_map', id=map.id)}}" method=POST>
				<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
				<button class="btn btn-danger btn-xs">Delete</button>
			</form>
		{% endfor %}
	</div>
</div>


{% endblock %}