{% extends "common/embed_base.html" %}  {# common/page_base.html extends layout.html #}

{% block content %}
<div class="container">
	<div class="row">
		<object type="image/svg+xml" data="/static/maps/pakistanHigh.svg?csdads" id="map" style="width:100%;">
		  South Asia <!-- fallback image in CSS -->
		</object>
	</div>
</div>

<div id="PK-BAmodal" tabindex="-1" role="dialog" class="modal fade map-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title">Balochistan</h2>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
			<div class="col-md-6">
				{{chart_func(1)|safe}}
			</div>
			<div class="col-md-6">
				{{chart_func(2)|safe}}
			</div>
			<div class="col-md-6">
				{{chart_func(3)|safe}}
			</div>
			<div class="col-md-6">
				{{chart_func(4)|safe}}
			</div>
			<div class="col-md-6">
				{{chart_func(5)|safe}}
			</div>
			<div class="col-md-6">
				{{chart_func(6)|safe}}
			</div>
		</div>&nbsp;
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="PK-GBmodal" tabindex="-1" role="dialog" class="modal fade map-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title">Gilgit Baltistan</h2>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
			<div class="col-md-6">
				{{chart_func(1)|safe}}
			</div>
			<div class="col-md-6">
				{{chart_func(2)|safe}}
			</div>
			<div class="col-md-6">
				{{chart_func(3)|safe}}
			</div>
			<div class="col-md-6">
				{{chart_func(4)|safe}}
			</div>
			<div class="col-md-6">
				{{chart_func(5)|safe}}
			</div>
			<div class="col-md-6">
				{{chart_func(6)|safe}}
			</div>
		</div>&nbsp;
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="PK-ISmodal" tabindex="-1" role="dialog" class="modal fade map-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title">Islamabad Capital Territory</h2>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
			<div class="col-md-6">
				{{chart_func(1)|safe}}
			</div>
			<div class="col-md-6">
				{{chart_func(2)|safe}}
			</div>
			<div class="col-md-6">
				{{chart_func(3)|safe}}
			</div>
			<div class="col-md-6">
				{{chart_func(4)|safe}}
			</div>
			<div class="col-md-6">
				{{chart_func(5)|safe}}
			</div>
			<div class="col-md-6">
				{{chart_func(6)|safe}}
			</div>
		</div>&nbsp;
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="PK-JKmodal" tabindex="-1" role="dialog" class="modal fade map-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title">Azad Kashmir</h2>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
			<div class="col-md-6">
				{{chart_func(1)|safe}}
			</div>
			<div class="col-md-6">
				{{chart_func(2)|safe}}
			</div>
			<div class="col-md-6">
				{{chart_func(3)|safe}}
			</div>
			<div class="col-md-6">
				{{chart_func(4)|safe}}
			</div>
			<div class="col-md-6">
				{{chart_func(5)|safe}}
			</div>
			<div class="col-md-6">
				{{chart_func(6)|safe}}
			</div>
		</div>&nbsp;
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="PK-KPmodal" tabindex="-1" role="dialog" class="modal fade map-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title">Khyber Pakhtunkhwa</h2>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
			<div class="col-md-6">
				{{chart_func(1)|safe}}
			</div>
			<div class="col-md-6">
				{{chart_func(2)|safe}}
			</div>
			<div class="col-md-6">
				{{chart_func(3)|safe}}
			</div>
			<div class="col-md-6">
				{{chart_func(4)|safe}}
			</div>
			<div class="col-md-6">
				{{chart_func(5)|safe}}
			</div>
			<div class="col-md-6">
				{{chart_func(6)|safe}}
			</div>
		</div>&nbsp;
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="PK-PBmodal" tabindex="-1" role="dialog" class="modal fade map-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title">Punjab</h2>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
			<div class="col-md-6">
				{{chart_func(1)|safe}}
			</div>
			<div class="col-md-6">
				{{chart_func(2)|safe}}
			</div>
			<div class="col-md-6">
				{{chart_func(3)|safe}}
			</div>
			<div class="col-md-6">
				{{chart_func(4)|safe}}
			</div>
			<div class="col-md-6">
				{{chart_func(5)|safe}}
			</div>
			<div class="col-md-6">
				{{chart_func(6)|safe}}
			</div>
		</div>&nbsp;
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div id="PK-SDmodal" tabindex="-1" role="dialog" class="modal fade map-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title">Sindh</h2>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
			<div class="col-md-6">
				{{chart_func(1)|safe}}
			</div>
			<div class="col-md-6">
				{{chart_func(2)|safe}}
			</div>
			<div class="col-md-6">
				{{chart_func(3)|safe}}
			</div>
			<div class="col-md-6">
				{{chart_func(4)|safe}}
			</div>
			<div class="col-md-6">
				{{chart_func(5)|safe}}
			</div>
			<div class="col-md-6">
				{{chart_func(6)|safe}}
			</div>
		</div>&nbsp;
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="PK-TAmodal" tabindex="-1" role="dialog" class="modal fade map-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title">Federally Administered Tribal Areas</h2>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
			<div class="col-md-6">
				{{chart_func(1)|safe}}
			</div>
			<div class="col-md-6">
				{{chart_func(2)|safe}}
			</div>
			<div class="col-md-6">
				{{chart_func(3)|safe}}
			</div>
			<div class="col-md-6">
				{{chart_func(4)|safe}}
			</div>
			<div class="col-md-6">
				{{chart_func(5)|safe}}
			</div>
			<div class="col-md-6">
				{{chart_func(6)|safe}}
			</div>
		</div>&nbsp;
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
	window.onload=function() {
		// Get the Object by ID
		var a = document.getElementById("map");
		// Get the SVG document inside the Object tag
		var svgDoc = a.contentDocument;
		// Get one of the SVG items by ID;
		// var AF = svgDoc.getElementById("AF");
		// var PK = svgDoc.getElementById("PK");
		// var IN = svgDoc.getElementById("IN");
		var land = svgDoc.getElementsByClassName("land");
		// Set the colour to something else
		// svgItem.setAttribute("fill", "#bada55");
		$(land).on('click', function(){
			 var this_id = $(this).attr('id');
			 var modalname = "#"+this_id+"modal";
		     $(modalname).modal();
		});
	};
</script>
{% endblock %}